.top-status {
    margin: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
}

.top-status__button i{
    margin-right: 15px;
    font-size: 27px;
}