body, .status {
    background-color: rgba(186, 206, 224, 193);
}

.today-time {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25px;
    color: white;
    font-size: 13px;
    margin-bottom: 20px;
}

.text {
    background-color: rgb(146, 164, 178);
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
}

.top-status {
    margin: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
}

.top-status div {
    width: 33%;
}
.top-status div:nth-child(2) {
    display: flex;
    justify-content: center;
}

.top-status div:last-child {
    display: flex;
    justify-content: end;
}

.top-status__button i{
    margin-right: 15px;
    font-size: 27px;
}

.top-status a {
    color: black;
}

.friend-chat {
    margin: 15px;
    height: 60px;
    display: flex;
}

.friend-chat__img {
    height: 40px;
    width: 40px;
}

.friend-chat__img img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.friend-chat__info {
    margin-left: 10px;
}

.friend-chat__info__talk {
    margin-top: 5px;
    display: flex;
    align-items: flex-end;
}

.friend-chat__info__talk div:first-child {
    padding: 10px;
    background-color: white;
    border-radius: 0px 10px 10px 10px;
}

.friend-chat__info__name {
    color: rgb(82, 82, 82);
}

.friend-chat__info__talk div:last-child {
    margin-left: 5px;
    font-size: 13px;
}

.my-chat {
    display: flex;
    justify-content: flex-end;
    margin: 15px;
}

.my-chat__talk {
    display: flex;
    flex-direction : row-reverse;
    align-items: flex-end;
}

.my-chat__talk div:first-child {
    padding: 10px;
    background-color: yellow;
    border-radius: 10px 0px 10px 10px;
}

.my-chat__talk div:last-child {
    margin-right: 5px;
    font-size: 13px;
}

.chatting {
    height: 120px;
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0;
    border: 15px;
    font-size: 35px;
    background-color: rgb(255, 255, 255);
    border: 15px;
}

.chatting textarea {
    height: 50px;
    margin: 15px;
    margin-bottom: 0;
    width: 93%;
    resize: none;
    border: 0;
    display: block;
    font-size: 15px;
}

.chatting__bottom-bar {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    margin-right: 20px;
    margin-left: 20px;
}

.chatting__bottom-bar i {
    margin-right: 15px;
    color: grey;
}

.chatting__bottom-bar i:hover {
    color: black;
}

.chatting__bottom-bar input {
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    border: 0;
}

.chatting__bottom-bar input:hover {
    background-color: rgb(194, 194, 194);
}